# Server Config
NODE_ENV= # development | production
PORT=5000

# Database Secret
DATABASE_URL="your-mongo-db-url"

# Brevo Credentials
EMAIL="your@email.com"
BREVO_API_KEY= 

# OTP Credentials
OTP_EXPIRATION_TIME= #any int value e.g. 2 [it'll count as minutes]

# JWT Secrets
USER_ACCESS_TOKEN_SECRET=
USER_REFRESH_TOKEN_SECRET=
ADMIN_ACCESS_TOKEN_SECRET=
ADMIN_REFRESH_TOKEN_SECRET=

# Password Secrets
USER_PASSWORD_PEPPER=
ADMIN_PASSWORD_PEPPER=

# Razorpay Credentials
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Shiprocket Credentials
SHIPROCKET_EMAIL=
SHIPROCKET_PASSWORD=
